<div class="sidebar">
    <div class="logo"><a href="#"><img src="../../../assets/images/Ntspl-Logo.png" alt=""></a></div>
    <div class="content">
        <div class="icon"><a href="#"><img src="../../../assets/images/meetingicon.png" alt=""></a></div>
        <div class="text"><a href="#">Meetings</a></div>
    </div>
    <div class="content">
        <div class="icon"><a href="#"><img src="../../../assets/images/clipboard.png" alt=""></a></div>
        <div class="text"><a href="#">Actions</a></div>
    </div>
    <div class="content">
        <div class="icon"><a href="#"><img src="../../../assets/images/setting.png" alt=""></a></div>
        <div class="text"><a href="#">Manage</a></div>
        <div class="down-icon"><a href="#"><img src="../../../assets/images/down.png" alt=""></a></div>
    </div>
    <div class="meet-image"></div>
</div>